.controls {
    display: inline-grid;
    gap: 24px;
    background-color: #f1f1f1;
    padding: 2em;
    border-radius: 1em;
}

.controls form {
    display: grid;
    gap: 10px;
}

.board {
    display: inline-grid;
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: repeat(3, min-content);
    border: 1px solid black;
}

button {
    cursor: pointer;
}

button.cell {
    width: 10vw;
    height: 10vw;
    border: 1px solid black;
    background-color: white;
    font-size: 5rem;
}

button.cell[data-marker="X"] {
    color: blue;
}

button.cell[data-marker="O"] {
    color: red;
}

button.cell:hover {
    background-color: #f1f1f1;
}